@charset "utf-8";

/* mock */
body {
  font-size: 10px;
}

a {
  color: #fff;
}

.row h1 {
  font-size: 30px;
}
.card {
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.rog-t {
  font-size: 1.5em;
  text-align: center;
}

/* other mock */

header {
  background-color: gray;
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: relative;
}
.head-c {
  float: left;
  line-height: 60px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 46%;
}

.head-r {
  display: inline-block;
  float: right;
  line-height: 60px;
  margin-right: 80px;
}
header a {
  color: red;
}

/* mock4 */

.tweak {
  padding-left: 25px;
}

ul {
  list-style: none;
}

li {
  margin: 50px 0;
}

span {
  margin-left: 50px;
}
